My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d0a47465-5d81-4949-ba29-6d760d42c60a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      pregunta: \"¿Qué es la inteligencia artificial\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "b62a4127-bc1f-4734-975d-17ae1f33b828",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:3000/webhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "pregunta",
              "value": "={{$json.pregunta}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "19cd3196-1a72-4f68-8f88-8706e2cf6212",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f9f2c9bf-fe3a-44ce-84fc-e56bdae36ce8",
  "meta": {
    "instanceId": "72a6c591bd8dcf91150434c11db3e3a2891accb21aaae01592eb94a8088a0810"
  },
  "id": "3uTGhaob1lkZAYWS",
  "tags": []
}